.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10vw;
  margin-bottom: 200px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 200px;
  margin-top: 150px
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}


@media (max-width:420px) {
  .bodyContainer {
    gap: 80px;
    margin-top: 50px;
  }
}


